/* 
    Document   : Formatting
    Created on : Jul 16, 2013, 4:46:46 PM
    Author     : vavila
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

 body {
    font-size:16px;
} 

div#text {
    border: 1px #333 solid;
    padding: 15px 1em 15px 1em;
    width: 40em;
    margin: 3em auto;
    height: 40em;
    overflow-y: hidden; 
}

h1 {
    font-size: 2em;
    font-style: italic;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: right;
}

/* ALL paragraphs */
p {
    line-height: 1em;
    margin:0;
}

h2 + p:first-letter {
    font-size: 2em;
}

/* ANY p that immediately follow another p */
p + p {
    text-indent: 2em;
}

.stars {
    text-align: center;
}

@media print {
    body {
        font-size: 10pt
    }
    h1 {
        font-size: 2em
    }
    .stars {
        font-size: 2em
    }
    first {
        font-size: 2em
    }
}
